@import 'variables';

.carousel {
  margin-top: 20px;
  .carousel-inner {
    img {
      border-radius: 10px;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    filter: invert(100%);
  }
}
