@import 'variables';
@import 'mixing';

.container_index {
  padding: 20px;
  font-family: $fuente-principal;
  .titulo_principal {
    color: $color-primario;
    text-align: map-get($text-align-map, center); //mapa aplicado//
    font-size: 2rem;
    &:hover{transition: transform 0.3s;
      transform: scale(1.05);}
    .botones_inicio {
      @include flex-center(row, 10px);

      
    }
    
  }
  .habitos_index {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
  }
  .container_index_link {
    @include flex-center(row, 40px);
    text-align: center;
  
    .titles {
      font-size: 1.8rem;
      color: $color-secundario;
    }
  
    .p_index {
      font-size: 1rem;
      color: $color-texto;
    }
  }

  
}
.title_opinion{
  color: $color-secundario;
  font-size: 2rem;
  &:hover{transition: transform 0.3s;
    transform: scale(1.05);}

}



